<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Liste des danseurs</title>
</head>
<body>
<h1>Liste des danseurs</h1>

<table border="1" cellpadding="8">
    <tr>
        <th>Nom</th>
        <th>Email</th>
        <th>Âge</th>
    </tr>
    <tr th:each="e : ${danseurs}">
        <td th:text="${e.nom}"></td>
        <td th:text="${e.email}"></td>
        <td th:text="${e.age}"></td>
    </tr>
</table>

<br>
<a th:href="@{/danseurs/ajouter}">Ajouter un autre danseur</a>
</body>
</html>